.current__container {

    padding-left: .5em;
}

.current__header--label {

    padding-bottom: .25em;
}

.current__tile--container {

    font-size: calc(10px + 2vmin);
}

.current__rightNow {

    font-size: calc(12px + 2vmin);
    padding: .25em 0 .25em .5em;
    margin-bottom: .5em;
    border: 2px solid white;
    border-radius: 5px;
}

.current__rightNow span {

    font-style: italic;
    font-size: calc(10px + 2vmin);
}

.current__rightNow--label {
    
    font-weight: 500;
    border-bottom: 1px solid white;
    margin-bottom: .25em;
}